
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fefcfd;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(to right, #a0c4ff, #ffc8dd);
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 3px solid #ffd6e8;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.nav{
  display: inline;
  width: auto;
}
 li{
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  color: #6c91c2;
}
 li:hover{
    color: #7c6fa5;
    cursor: pointer;
}
.section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  background-color: #f3f8ff;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(160, 196, 255, 0.2);
}

.section h2 {
  color: #6c91c2;
  border-bottom: 2px solid #ffc8dd;
  padding-bottom: 0.5rem;
}

.section h3 {
  color: #7c6fa5;
  margin-top: 1.5rem;
}

.proyecto {
  margin-top: 1rem;
}

a {
  color: #ff82a9;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #a0c4ff;
  text-align: center;
  padding: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-top: 2rem;
  border-top: 4px solid #ffc8dd;
}


.contenedor-proyectos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}

.card-proyecto {
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.card-proyecto:hover {
  transform: translateY(-5px);
}

.card-proyecto img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 180px;
  object-fit: cover;
}

.card-proyecto h3 {
  margin-bottom: 0.5rem;
  color: #333;
}

.card-proyecto p {
  font-size: 0.95rem;
  color: #555;
}

.card-proyecto a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  background-color: #6c63ff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.card-proyecto a:hover {
  background-color: #5146d7;
}
.card-proyecto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px; 
}
   .nav{
  display: inline;
  width: auto;
}
ul{
  left: 5px;
}
 li{
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  color: #6c91c2;
  
}
 li:hover{
    color: #7c6fa5;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  .section {
    padding: 1rem;
  }
  .section h2, .section h3 {
    font-size: 1.4rem;
  }
  footer {
    font-size: 0.9rem;
  }
 
}


